body {background-color:aquamarine;}

.centered{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    background-color: aquamarine;    
}
button {
    cursor: pointer;
}
#pictures{
    display : none;
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    background-color: aquamarine;
    }